@font-face {
    font-family: "Max-Bold";
    src: url("../Fonts/MaaxRounded-Bold.otf");
}

@font-face {
    font-family: "Max-Medium";
    src: url("../Fonts/MaaxRounded-Medium.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #009eff;
    font-family: "Max-Medium", serif;
}
.row {
    margin: 0;
}

.title {
    color: #0015ac;
    font-family: "Max-Bold";
    font-size: 50px;
    max-width: 1140px;
    margin: 0 auto;
}

.subtitle {
    color: #0088ff;
    font-size: 32px;
    line-height: 28px;
}

.text_green {
    color: #64bf00;
}

/* HEADER */
[data-icon="hamburguer-bar"] {
    height: 3px;
    width: 40px;
    background: #009eff;
    margin: 10px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 0.5s;
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(1) {
    animation-name: hamburguer-one-bar-one;
    animation-duration: 0.7s;
    transform: translate(0px, 13px) rotate(45deg);
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(2) {
    animation-name: hamburguer-one-bar-two;
    animation-duration: 0.7s;
    opacity: 0;
}

[data-icon="hamburguer"] [data-icon="hamburguer-bar"].bar-on:nth-of-type(3) {
    animation-name: hamburguer-one-bar-three;
    animation-duration: 0.7s;
    transform: translate(0px, -13px) rotate(-45deg);
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

@keyframes hamburguer-one-bar-one {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 12px);
    }

    100% {
        transform: translate(0px, 12px) rotate(45deg);
    }
}

@keyframes hamburguer-one-bar-two {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hamburguer-one-bar-three {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -12px);
    }

    100% {
        transform: translate(0px, -12px) rotate(-45deg);
    }
}

.navbar {
    margin: 0;
}

.navbar-brand {
    width: 200px;
}

.nav-item .nav-link {
    color: #40b6ff !important;
}
.nav-item .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    transition: 0.5s;
}

.nav-item .nav-link:hover::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #0015ac;
}

.nav-pills .nav-link.active {
    background: transparent;
    color: #0015ac !important;
}

.nav-pills .nav-link.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    background: #009eff;
}

body {
    position: relative;
}

.home {
    height: 100vh;
    position: relative;
}

.home h2 {
    font-family: "Max-Bold";
    font-size: 50px;
    line-height: 45px;
    color: #0015ac;
}

.home .carousel .carousel-item {
    height: 400px;
}
.carousel-indicators {
    width: 50%;
    margin: 0;
}

.home .carousel-indicators li {
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0088ff;
    opacity: 0.9;
}
.home .carousel-indicators li.active {
    background: #0015ac;
}

.home .col-md-6 img {
    width: 70%;
}

.home img.mancha {
    position: absolute;
    bottom: 0;
    width: 30%;
    right: 0;
}

.home img.mouse {
    width: 20px;
    position: absolute;
    bottom: 100px;
    left: calc(50% - 10px);
}

.home .box_botones img {
    width: 100px;
    display: block;
}

.home .redes {
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 1;
}

.home .redes img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 10px;
}

/* About */
.about {
    background: #edf8ff;
}

.box_carousel {
    background: #009eff;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.owl-carousel {
    width: 92%;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: calc(-8% + 20px);
    width: 40px;
    height: 40px;
    bottom: 45%;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-next:active {
    outline: 0;
    background: transparent;
}

.owl-carousel .owl-nav button.owl-next span {
    background-image: url(../images/About/Flecha.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
}

.box_carousel img.arrow {
    width: 40px;
    position: absolute;
    right: calc(4% - 20px);
}

.owl-carousel .owl-item,
.owl-carousel .owl-item.active {
    margin: 0 !important;
}

.about img.bamboo_circle {
    width: 160px;
}

.about img.icon {
    width: 100px;
    display: block;
    margin: 10px auto;
}

.visita_tienda {
    background-image: url(../images/About/Bg_Ir_Tienda.svg);
    background-size: cover;
    background-position: 0 0;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visita_tienda h2 {
    color: #00ddff;
    margin-bottom: 20px;
}

.visita_tienda img {
    width: 150px;
    margin: 10px;
    background: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* Faqs */
.faqs h4 {
    display: inline-block;
    color: #fff;
    background: #0088ff;
    padding: 17px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

.faqs .number {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid #0015ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0015ac;
    margin-left: 15px;
}

.faqs .number p {
    color: #0015ac;
    font-size: 1.2rem;
    margin: 0;
}

.faqs .row p.text {
    width: calc(100% - 80px);
    margin: 0 10px;
}

/* Contact */
.contact .box_contact {
    background: #009eff;
}

/* .contact .box {
    height: 650px;
    position: relative;
}

.contact img.onda {
    position: absolute;
    bottom: 0;
} */

.contact h3.subtitle {
    font-size: 34px;
}

.contact .box .border-radius {
    background: #0088ff;
    width: 60%;
    padding: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact .box p:nth-of-type(1) {
    color: #99d8ff;
    font-size: 18px;
}

.contact .box_contact .col-lg-7 .bg-white,
.contact .box_contact .col-lg-5 .bg-white {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contact .form-control {
    border: none;
    border-bottom: 2px solid #0088ff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.contact .btn-enviar {
    background: #64bf00;
    width: 150px;
    border-radius: 30px;
    display: block;
    color: white;
}

.contact .box_contact .col-lg-5 a {
    display: block;
    margin: 15px 0;
    color: #009eff;
}

.contact .box_contact .col-lg-5 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact .box_contact .col-lg-5 img.btn_tienda {
    width: 130px;
    height: auto;
}

footer {
    background: #0015ce;
    padding: 60px 0;
}

footer img {
    width: 150px;
}

footer a {
    color: #009eff;
    margin: 0 8px;
    text-align: center;
}

@media (max-width: 1023px) {
    .contact .box .border-radius {
        width: 70%;
        height: 330px;
    }
}

@media (max-width: 991px) {
    .home img.mancha {
        width: 50%;
    }
    .home h2 {
        font-size: 40px;
        line-height: 35px;
    }

    .contact .box_contact .col-lg-5 a {
        font-size: 14px;
    }
    .contact .box_contact .col-lg-5 img {
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    .contact .box_contact .col-lg-5 img.btn_tienda {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .navbar {
        background: #fff !important;
    }
    .navbar-light .navbar-toggler {
        padding: 0;
    }

    .navbar-brand {
        width: 140px;
    }
    .home {
        height: 110vh;
    }
    .home h2 {
        font-size: 32px;
        line-height: 30px;
    }
    .home .carousel .carousel-item {
        height: auto;
    }
    .home img.mancha {
        width: 70%;
    }
    .owl-carousel {
        width: 90%;
    }
    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        right: calc(-18% + 20px);
        width: 25px;
        height: 25px;
        bottom: 45%;
    }
    .owl-carousel .owl-nav button.owl-next span {
        width: 25px;
        height: 25px;
    }
    .about img.bamboo_circle {
        width: 160px;
        margin: 25px auto;
    }

    .contact .box .border-radius {
        width: 100%;
        height: auto;
    }

    footer {
        font-size: 14px;
    }
}
